.btn {
    background-color: #4263eb;
    padding: 7px 30px;
    min-width: 132px;
    min-height: 34px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    flex-grow: 1;
}
.btn:hover {
    opacity: 0.9;
}
.btn:disabled {
    opacity: 0.9;
}
