.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.content {
    width: 100%;
    max-width: 1920px;
    padding: 0 10px;
}
.error {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 12px 10px;
    background-color: #f03e3e28;
    border: 1px solid #f03e3e;
    border-radius: 6px;
    margin: 10px 0;
}
.error_content {
    flex-grow: 2;
    font-size: 15px;
    text-align: center;
}
.cross {
    width: 25px;
    height: 25px;
    padding: 4px;
    cursor: pointer;
}
.cross:hover {
    opacity: 0.7;
}
