.wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader_wrapper {
    width: 200px;
    text-align: center;
}
.loader_wrapper h3 {
    font-size: 17px;
    font-weight: 400;
    opacity: 0.8;
}
