.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1a1b1e;
    z-index: 1;
}
.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.content {
    padding: 5px 10px;
    height: 3.5rem;
    width: 100%;
    max-width: 1920px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.poster {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}
.poster h2 {
    font-size: 25px;
    font-weight: 500;
}
.logo {
    pointer-events: none;
    width: 37px;
    border-radius: 4px;
    margin-right: 5px;
    height: 37px;
}
.auth {
    font-size: 15px;
    padding: 8px 20px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
}
.login {
    background-color: #845ef7;
}
.register {
    margin: 0 10px;
    background-color: #323438;
}
.auth:hover {
    opacity: 0.9;
}
@media screen and (max-width: 550px) {
    .header {
        padding: 10px;
    }
    .header div h2 {
        font-size: 20px;
        font-weight: 400;
    }
    .logo {
        width: 30px;
    }
}
