.wrapper {
    background-color: #141517;
    transition: 0.3s ease-in-out;
    width: 100%;
    height: 0;
}
.chart_box {
    width: 100%;
    display: flex;
    justify-content: center;
}
.wrapper.active {
    height: calc(100svh - 56px);
}
.wrapper.active .chart_box {
    height: 100%;
}
@media screen and (max-width: 1024px) {
    .wrapper.active {
        height: auto;
    }
}
@media screen and (max-width: 520px) {
    .chart_box {
        display: flex;
        justify-content: start;
        width: 200%;
    }
    .wrapper {
        overflow-x: auto;
    }
}
