.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #1a1b1e;
}
.content {
    width: 100%;
    max-width: 1920px;
    padding: 0px 20px 40px 20px;
    /* color: #f59f0046; */
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.header {
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.set_chart_type {
    width: 100%;
}
.update_date {
    display: flex;
    align-items: center;
}
.update_date p {
    margin-left: 5px;
    font-size: 14px;
    opacity: 0.8;
}
@media screen and (max-width: 550px) {
    .title {
        font-size: 17px;
        padding: 0;
    }
    .wrapper {
        padding: 10px 10px;
        padding-bottom: 120px;
    }
}
